<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conditions Générales d'Utilisation</title>
    <link rel="stylesheet" href="~/css/termes.css">
</head>
<body>
    <div class="container">
        <h1>Conditions Générales </h1>
        <section>
            <h2>Utilisation du notre site web</h2>
            <p>Vous ne pouvez utiliser le Site Web qu'à des fins licites et conformément aux présentes Conditions. Vous vous engagez à ne pas utiliser le Site Web :</p>
            <ul>
                <li>D'une manière qui viole toute loi ou réglementation locale, nationale ou internationale.</li>
                <li>Dans le but d'exploiter, de nuire ou de menacer autrui.</li>
                <li>Pour transmettre, ou procurer la transmission de, tout matériel diffamatoire, offensant ou obscène.</li>
                <li>Pour interférer avec ou perturber le Site Web, les serveurs ou les réseaux connectés au Site Web.</li>
                <li>Pour utiliser le Site Web de toute manière qui pourrait endommager, désactiver, surcharger ou altérer le Site Web.</li>
            </ul>
        </section>
        <section>
            <h2>Propriété intellectuelle</h2>
            <p>Le Site Web et l'ensemble de son contenu, de ses caractéristiques et de ses fonctionnalités (y compris, mais sans s'y limiter, tous les textes, graphiques, logos, images et marques de commerce) sont notre propriété ou celle de nos concédants de licence et sont protégés par le droit d'auteur, les marques de commerce et autres lois sur la propriété intellectuelle. Vous ne pouvez pas reproduire, modifier, distribuer, transmettre, afficher, exécuter, vendre, concéder sous licence ou créer des œuvres dérivées de tout contenu du Site Web sans notre consentement écrit préalable.</p>
        </section>
        <section>
            <h2>Clause de non-responsabilité</h2>
            <p>Les informations fournies sur le Site Web sont uniquement à titre informatif et ne constituent pas un conseil professionnel. Nous ne garantissons pas l'exactitude, l'exhaustivité ou la fiabilité des informations contenues sur le Site Web. Vous ne devez pas vous fier aux informations du Site Web pour prendre des décisions ou entreprendre des actions. Vous devez consulter un professionnel qualifié avant de prendre toute décision ou action basée sur les informations contenues sur le Site Web.</p>
        </section>
        <section>
            <h2>Limitation de responsabilité</h2>
            <p>Dans la mesure permise par la loi, nous ne serons pas responsables de tout dommage découlant de ou lié à votre utilisation du Site Web. Cela inclut, mais sans s'y limiter, les dommages directs, indirects, accessoires, consécutifs et punitifs.</p>
        </section>
        <section>
            <h2>Résiliation</h2>
            <p>Nous pouvons résilier votre accès au Site Web à tout moment, pour quelque raison que ce soit, sans préavis.</p>
        </section>
        <section>
            <h2>Droit applicable</h2>
            <p>Les présentes Conditions seront régies et interprétées conformément aux lois de [votre pays].</p>
        </section>
        <section>
            <h2>Modifications des conditions</h2>
            <p>Nous pouvons réviser les présentes Conditions à tout moment en publiant les conditions révisées sur le Site Web. Vous êtes tenu de consulter cette page régulièrement afin de prendre connaissance de toute modification, car elles vous lient. En continuant à accéder au Site Web ou à l'utiliser après l'entrée en vigueur de ces révisions, vous acceptez d'être lié par les conditions révisées.</p>
        </section>
        <section>
            <h2>Contactez-nous</h2>
            <p>Si vous avez des questions concernant les présentes Conditions, veuillez nous contacter à [Evo-energy@gmail.com].</p>
        </section>
        <section>
            <h2>Conditions supplémentaires</h2>
            <p>Les présentes Conditions peuvent être complétées par des conditions supplémentaires applicables à des parties spécifiques du Site Web. Vous acceptez d'être lié par ces conditions supplémentaires.</p>
        </section>
        <section>
            <h2>Intégralité de l'accord</h2>
            <p>Les présentes Conditions constituent l'intégralité de l'accord entre vous et nous concernant votre utilisation du Site Web.</p>
        </section>
    </div>
</body>
<footer>
    <p>&copy; 2024 Evo-énergy. Tous droits réservés.</p>
</footer>
</html>