<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>
    <link href="~/css/Serviceeee.css" rel="stylesheet">
</head>
<video class="video-bg" autoplay muted loop>
    <source src="~/css/backgroundv.mov" type="video/mp4">
</video>
<body>
    <div class="container">
        <label for="service1">
            <img src="~/css/solar2 inger2.jpg" alt="Service 1">
            <span>Ingénierie et conseil</span>
            <input type="checkbox" id="service1" name="service1">
        </label>
        <label for="service2">
            <img src="~/css/installation.png" alt="Service 2">
            <span>Installation des systèmes photovoltaïques</span>
            <input type="checkbox" id="service2" name="service2">
        </label>
        <label for="service3">
            <img src="~/css/maintenace.jpg" alt="Service 3">
            <span>Entretien et maintenance</span>
            <input type="checkbox" id="service3" name="service3">
        </label>

        <!-- New Text Area Section -->
        <label for="additional-info">
            <span>Autre service</span>
            <textarea id="additional-info" name="additional-info" rows="4" cols="50" placeholder="Entrez des informations supplémentaires ici..."></textarea>
        </label>
    </div>
    <div class="btn">
        <button class="button-5" role="button">Confirmer</button>
    </div>
    <script src="~/js/Service.js"></script>
</body>
</html>



